# Ignore all
/*

# Except these
!.gitignore
!README.md

# .config
!.config
.config/*
!.config/nvim
!.config/alacritty
!.config/tmux/tmux.conf

# misc files
.config/GNOME-xdg-terminals.list
.config/monitors.xml
.config/monitors.xml~
.config/xdg-terminals.list

# hush login
!.hustlogin

# fonts
!.fonts
.fonts/.uuid

# zsh
!.zshrc
!.zsh_aliases

