# Ignore all
/*

# Except these
!.gitignore
!README.md

# .config
!.config
.config/Cypress
.config/github-copilot
.config/matplotlib
.config/yarn
.config/tmux/plugins
.config/lazygit
.config/.*
.config/dconf
.config/evolution
.config/gh
.config/gnome-initial-setup-done
.config/gtk*
.config/ibus
.config/mimeapps*
.config/pulse
.config/user-dirs*

# hush login
!.hustlogin

# fonts
!.fonts
.fonts/.uuid

# zsh
!.zshrc
!.zsh_aliases

