# Ignore all
/*

# Except these
!.gitignore
!README.md

# .config
!.config
.config/Cypress
.config/github-copilot
.config/matplotlib
.config/yarn
.config/tmux/plugins

# hush login
!.hustlogin

# fonts
!.fonts
.fonts/.uuid

# zsh
!.zshrc
!.zsh_aliases

